html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 1rem;
	font: inherit;
    box-sizing: border-box;
}
a {
    outline:none;
}
a:hover {
    cursor: pointer;
}
ul {
    list-style: none;
}
li::before {
    content: "— ";
}


html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'PixelPath';
    font-size: 23px;
    line-height: 23px;
}
html {
    background-color: black;
    height: 100%;
}
body {
    background-image: url('../../lightSpeed.svg');
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}
main {
    width: 80%;
    max-width: calc(299.792458mm * 1.025);
    margin: auto;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
}


#title {
    align-self: flex-end;
    margin-bottom: 5mm;
}

#ruler {
    height: 30.529404mm;
    margin-left: -0.2mm;
}
#ruler:hover {
    cursor: pointer;
}
#ruler span {
    font-size: 25px;
    color: black;
    position: relative;
    top: -48px;
    left: 50px;
}
#ruler span.white {
    color: white;
    top: -42px;
}


#ruler-parts {
    display: flex;
}
#separator {
    width: 20mm;
    box-sizing: content-box;
    border-top: dashed white 0.8mm;
    border-bottom: dashed white 0.8mm;
    border-left: solid white 0.8mm;
    border-right: solid white 0.8mm;
}
#ruler-end {
    margin-right: calc(-5mm * 1.025 - 0.2mm);
}


#mesure {
    margin-top: 10mm;
    max-width: calc(299.792458mm * 1.025);
    display: flex;
}
#mesure * {
    box-sizing: border-box;
}
#length {
    width: 100%;
    border-top: 0.8mm solid white;
    height: 0.8mm;
}
@media (max-width:1451px) {
    #length {
        border-style: dashed;
    }
}
.side {
    height: 4mm;
    width: 0.8mm;
    position: relative;
    top: -1.6mm;
}
.left {
    border-left: 0.8mm solid white;
    margin-left: -0.2mm;
    /* margin-right: -0.8mm; */
}
.right {
    border-right: 0.8mm solid white;
    margin-right: -0.4mm;
    /* margin-left: -0.8mm; */
}
#mesure-number {
    margin-left: 5mm;
}


section {
    margin-top: 5mm;
    width: 100%;
}
section p {
    margin-bottom: 25px;
    max-width: 60%;
}
section span {
    background-color: white;
    color: black;
}


.hide {
    display: none !important;
}


/* ┌─╴╭─╮╭╮╷╶┬╴╭─╴
   ├─╴│ ││││ │ ╰─╮
   ╵  ╰─╯╵╰╯ ╵ ╶─╯ */

/* PixelPath - https://autre.space/ */
@font-face {
  font-family: 'PixelPath';
  src: url('../fonts/pixelpath/pixelpath-regular-webfont.woff') format('woff'), url('../fonts/pixelpath/pixelpath-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* Hack v2.020 - https://sourcefoundry.org/hack/
 * Licenses - Fonts: Hack Open Font License + Bitstream Vera license,
 * CSS: MIT License */
@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack/hack-regular-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack/hack-regular-webfont.woff?v=2.020') format('woff'), url('../fonts/hack/hack-regular-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack/hack-bold-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack/hack-bold-webfont.woff?v=2.020') format('woff'), url('../fonts/hack/hack-bold-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack/hack-italic-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack/hack-italic-webfont.woff?v=2.020') format('woff'), url('../fonts/hack/hack-italic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'), url('../fonts/hack/hack-bolditalic-webfont.woff?v=2.020') format('woff'), url('../fonts/hack/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: italic;
}
