#dezoom svg {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
#layers {
    fill: none;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
}
#scale {
	position: absolute;
	font-size: 50px;
	top: 0;
	left: 15px;
}
#scroll {
	position: absolute;
	z-index: 200;
	right: 20px;
	top: 10px;
	height: calc(100% - 20px);
	width: 5px;
	background-color: red;
}

line, rect, circle, ellipse, polyline, polygon, path {
	vector-effect: non-scaling-stroke;
}

text {
    stroke: none;
    fill: white;
	dominant-baseline: middle;
}
text.black {
	fill: black;
}
text.vertical {
	writing-mode: vertical-rl;
	text-orientation: upright;
	line-height: 1px;
}
text.mid {
	text-anchor: middle;
}
text.end {
	text-anchor: end;
}

.dotted {
	stroke-width: 1.5;
	stroke-dasharray: 10 20;
}
.fill {
	vector-effect: none;
	stroke: transparent;
	fill: white;
}

foreignObject p {
	max-width: 70%;
	font-size: 8px;
	margin-bottom: 8px;
}
