<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/certificate.css') }}" />
    </head>
    <body>
        <img id="bg" src="{{ 'data:image/svg+xml;utf-8,'+bg }}">
        <img id="ruler" src="{{ 'data:image/svg+xml;utf-8,'+ruler }}">
        <img id="imgs" src="{{ url_for('static', filename='imgs/pdfElements.svg') }}">

        <p id="dimensions" class="text bg">29,979 245 8 cm = 1 lns</p>

        <div id="left" class="text">
            <p>La light-nanosecond_ruler est une règle mesurant la distance parcourue par la lumière en une nano-<br>seconde, soit un milliardième de seconde (10<sup>-9</sup> s).<br>
            Ce fragment d'année-lumière mesure exactement 29,9792458 cm. Pour former une année-lumière complète, soit une distance d'environ 9500 milliards de kilomètres, il faudrait emboîter 31,5 billiards d'exemplaires.</p>
            <p>Cette distance, a priori gigantesque, est pourtant insignifiante quand on la ramène à l'échelle de l'Univers. L'unité de mesure privilégiée des voyages de science-fiction est ainsi décomposée et ramenée à l'échelle humaine.</p>
            <p>Extrêmement proche de la règle commune traînant parfois sur nos bureaux, cette mesure nous donne aussi une idée de la rapidité à laquelle l'infor-<br>mation se déplace sur les réseaux informatiques.</p>
        </div>
        <div id="right" class="text">
            <p>La nanoseconde-lumière, transposée en objet acquière 3 dimensions. Afin de calculer le volume approximatif que représenterait la fabrication d'une année-lumière complète et de son stockage, nous disposons 1328 règles dans un carton – soit l'équivalent de 1,3 microseconde-lumière – et 729 cartons dans un conteneur – soit l'équivalent de 1 milliseconde-lumière.</p>
            <p>Le gigaconteneur-lumière, composé des 32,5 milliards de conteneurs nécessaires et organisés de manière homothétique, formerait un volume de 19,4 km de long, <br>7,8 km de large et 8,3 km de haut.</p>
        </div>

        <p id="credits" class="text bg">nicolas chesnais - lnsr.autre.space - licence LAL 1.3<br>
        fonte : pixelpath9 - fonts.autre.space<br>
        exemplaire généré le 21/11/18 à 13h42</p>

        <p id="cardboard" class="text rotate">{{ cardboard }} / 23 763 253 012 049<br>
        &nbsp;&nbsp;cartons-lumière</p>
        <p id="container" class="text rotate">{{ container }} / 32 597 054 887<br>
        &nbsp;&nbsp;conteneurs-lumière</p>
    </body>
</html>
