{% extends "base.html" %}
{% block main %}
<main>
    {% include 'svgs/title.svg' %}

    <div id="ruler">
      {% include 'ruler.html' %}
    </div>

    <p>La règle de nanoseconde-lumière permet de mesurer la distance parcourue par la lumière en une nanoseconde,<br> soit en un milliardième de seconde (10e-9 s).<br> Ce fragment d’année-lumière mesure exactement :</p>
</main>


{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
