{% extends "base.html" %}
{% block main %}
<main>

    {% include 'svgs/title.svg' %}

    <div id="content" class="pxph">
        <section>
            <p>La light-nanosecond_ruler est une règle mesurant la distance parcourue par la lumière en une nanoseconde, soit
                <span class="distance" data-equivalent="10<sup>-9</sup> s//0,000 000 001 s">un milliardième de seconde</span>.<br>
            Ce fragment d'année-lumière mesure
                <span class="distance" data-equivalent="environ 30 cm">exactement 29,979 245 8 cm</span>.</p>
        </section>

            <div id="ruler">
              {% include 'ruler.html' %}
            </div>
        <div id="mesure">
            <div class="side left"></div>
            <div id="length"></div>
            <div class="side right"></div>
        </div>
        <p id="mesure-number">29,979 245 8 cm = 1 lns</p>

        <section>
            <p>Pour former une année-lumière complète, soit une distance
                <span class="distance" data-equivalent="exactement égale à 9 460 730 472 580,8 km//de 9,461 × 10<sup>12</sup> km">d'environ 9 500 milliards de kilomètres</span>,
                il faudrait emboîter
                <span class="distance" data-equivalent="31 557 600 000 000 000 exemplaires">31,6 billiards d'exemplaires</span>.</p>
            <p>Cette distance, a priori gigantesque, est pourtant insignifiante quand on la ramène à l'échelle de l'Univers. L'unité de mesure privilégiée des voyages de science-fiction est ainsi décomposée et ramenée à l'échelle humaine.</p>
        </section>

        <a id="download" class="hide" href="download">Télécharger les fichiers</a>

    </div>
</main>
<div id="options">
    <a id="font-change" class="hack">font</a>
</div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
