{% extends "base.html" %}
{% block main %}
<main>
    {% include 'svgs/title.svg' %}

    <section>
        <p>La light-nanosecond_ruler est une règle mesurant la distance parcourue par la lumière en une nanoseconde, soit un milliardième de seconde (10<sup>-9</sup> s).<br>
        Ce fragment d'année-lumière mesure exactement 29,9792458 cm.</p>

    </section>
    <div id="mesure">
        <div class="side left"></div>
        <div id="length"></div>
        <div class="side right"></div>
    </div>
    <p id="mesure-number">29,979 245 8 cm = 1 lns</p>

    <section>
        <p>Pour former une année-lumière complète, soit une distance d'environ 9500 milliards de kilomètres, il faudrait emboîter 31,5 billiards d'exemplaires.</p>
        <p>Cette distance, a priori gigantesque, est pourtant insignifiante quand on la ramène à l'échelle de l'Univers. L'unité de mesure privilégiée des voyages de science-fiction est ainsi décomposée et ramenée à l'échelle humaine.</p>
    </section>

    <div id="ruler">
      {% include 'ruler.html' %}
    </div>

    <a id="download" class="hide" href="download">DOWNLOAD</a>

    <section>
        <p>Extrêmement proche de la règle commune trainant parfois sur nos bureaux, cette mesure nous donne aussi une idée de la rapidité à laquelle l'information se déplace sur les réseaux informatique.</p>
    </section>






</main>


{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
