<svg version="1.1" id="ruler-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px"
viewBox="0 0 1153.9688 115.38672" height="30.529404mm" width="305.32092mm">
    <path id="contour" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2"
    d="M 1,1 V 42.64062 L 19.896485,31.30273 V 87.99609 L 1,76.65625 v 37.73047 H 1134.0723 V 76.65625 l 18.8965,11.33984 V 31.30273 l -18.8965,11.33789 V 1 Z"/>
</svg>

<div id="ruler-parts" class="hide">
    <svg version="1.1" id="ruler-start" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px"
    viewBox="0 0 1114.0724 115.38672" height="30.529404mm" width="294.76498mm" preserveAspectRatio="xMinYMid slice">
        <path id="contour-start" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2"
        d="M 1114.0724,1 H 1 V 42.64062 L 19.896485,31.30273 V 87.99609 L 1,76.65625 v 37.73047 h 1113.0724 Z"/>
    </svg>
    <div id="separator"></div>
    <svg version="1.1" id="ruler-end" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px"
    viewBox="0 0 39.896501 115.38673" height="30.529404mm" width="10.555949mm" preserveAspectRatio="xMaxYMid slice">
        <path id="contour-end" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2"
        d="M 0,114.38672 H 20 V 76.65625 L 38.896499,87.99609 V 31.30273 L 20,42.64062 V 1 H 0 Z"/>
    </svg>
</div>

<span class="pxph">1 / 31 557 600 000 000 000 lns</span>
